<div class="row mt-2">
    <div class="col-12 align-self-start">
      <mat-card>
        <mat-card-header class="" style="display:inherit">
          <mat-card-title>Search for Vaccine Records</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row justify-content-md-center">
            <div class="col-10">
              <mat-form-field class="col-12" [hideRequiredMarker]="options.value.hideRequired"
                [floatLabel]="options.value.floatLabel">
                <input type="text" placeholder="Family's username" aria-label="Number" matInput [(ngModel)]="familyUsername"
                  [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-4">
            <div class="col-10">
              <button [disabled]="isLoading" mat-stroked-button (click)="getRecordClick()">Search</button>
            </div>
          </div>
  
          <div class="row text-left justify-content-md-center">
            <div class="col-10">
              <p class="text-secondary mb-1 ml-1" *ngIf="isFamily">{{familyUsername}}</p>
              <mat-accordion class="example-headers-align">
                <mat-expansion-panel *ngFor="let record of records" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{record._childName}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{record._childGender}}
                      <mat-icon>face</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row text-left">
                    <div class="col-12">
                      <mat-list>
                        <mat-list-item *ngFor="let detail of record._vaccineDetails" (click)="showDetail(detail)">
                          <mat-icon mat-list-icon>assignment</mat-icon>
                          <p mat-line>{{detail._vaccineName }}</p>
                          <p mat-line class="text-secondary">{{detail._childAge }}</p>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>