<mat-card>
        <form [formGroup]="options" (ngSubmit)="login()">
    <mat-card-header class="text-center mb-4" style="display:inherit">
        <mat-card-title>Vaccine Application</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="row justify-content-md-center">
            <div class="col-8">
                <mat-form-field class="col-12" [hideRequiredMarker]="options.value.hideRequired"
                    [floatLabel]="options.value.floatLabel">
                    <input matInput placeholder="Username" formControlName="username" required>
                </mat-form-field>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-8">
                <mat-form-field class="col-12" [hideRequiredMarker]="options.value.hideRequired"
                    [floatLabel]="options.value.floatLabel">
                    <input formControlName="password" matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button [disabled]="isLoading">Login</button>
    </mat-card-actions>
</form>
</mat-card>