<mat-tab-group dynamicHeight>
  <mat-tab class="align-self-start" label="Detail">
    <div class="row mt-2">
      <div class="col-12 align-self-start">
        <mat-card>

          <mat-card-header class="" style="display:inherit">
            <mat-card-title>Create New Detail</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="row justify-content-md-center">
              <div class="col-10">
                <mat-form-field class="col-12" [hideRequiredMarker]="options.value.hideRequired"
                  [floatLabel]="options.value.floatLabel">
                  <input type="text" placeholder="Family's username" aria-label="Number" matInput
                    [(ngModel)]="familyUsername" [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-md-center mb-4">
              <div class="col-10">
                <button mat-stroked-button (click)="getRecordClick()">Search</button>
              </div>
            </div>

            <div class="row text-left justify-content-md-center">
              <div class="col-10">
                <p class="text-secondary mb-1 ml-1" *ngIf="isFamily">{{familyUsername}}</p>
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel *ngFor="let record of records" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{record._childName}}
                      </mat-panel-title>
                      <mat-panel-description>
                        {{record._childGender}}
                        <mat-icon>face</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                      <input matInput [(ngModel)]="detail.vaccineName" placeholder="Vaccine Name">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [(ngModel)]="detail.childWeight" placeholder="Child Weight">
                      <span matSuffix>.kg</span>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [(ngModel)]="detail.childHeight" placeholder="Child Height">
                      <span matSuffix>.cm</span>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [(ngModel)]="detail.childTemperature" placeholder="Child Temperature">
                      <span matSuffix>.c&deg;</span>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="detail.childAge" placeholder="Child Age">
                      </mat-form-field>
                    <mat-form-field>
                      <input matInput [(ngModel)]="doctorUsername" placeholder="Doctor Username">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [(ngModel)]="physicianUsername" placeholder="Physician Username">
                    </mat-form-field>

                    <mat-action-row>
                      <button mat-button color="primary" (click)="createDetailClick(record._id)">Submit</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>

          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab class="align-self-start" label="History">
    <div class="row mt-2">
      <div class="col-12 align-self-start">
        <mat-card>

          <mat-card-header class="" style="display:inherit">
            <mat-card-title>History of Vaccine Detail</mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <div class="row justify-content-md-center">
              <div class="col-10">
                <mat-form-field class="col-12" [hideRequiredMarker]="options.value.hideRequired"
                  [floatLabel]="options.value.floatLabel">
                  <input type="text" placeholder="Family's username" aria-label="Number" matInput
                    [(ngModel)]="familyUsername_history" [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-md-center mb-4">
              <div class="col-10">
                <button mat-stroked-button (click)="getRecordClick()" [disabled]="isLoading">Search</button>
              </div>
            </div>

            <div class="row text-left justify-content-md-center">
              <div class="col-10">
                <p class="text-secondary mb-1 ml-1" *ngIf="isFamily_history">{{familyUsername_history}}</p>
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel *ngFor="let record of records" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{record.name}}
                      </mat-panel-title>
                      <mat-panel-description>
                        {{record.childGender}}
                        <mat-icon>face</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-accordion class="example-headers-align">
                      <mat-expansion-panel *ngFor="let detail of details" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{detail.name}}
                          </mat-panel-title>
                          <mat-panel-description>
                            {{detail.age}}
                            <mat-icon>assignment</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row text-left">
                          <div class="col-12">
                            <mat-list>
                              <mat-list-item *ngFor="let detailHistory of detailHistories" (click)="history()">
                                <mat-icon mat-list-icon>history</mat-icon>
                                <p mat-line></p>
                                <p mat-line class="text-secondary">{{detailHistory}}</p>
                              </mat-list-item>
                            </mat-list>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>

          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>