<mat-tab-group dynamicHeight>
  <mat-tab label="Records">
    <div class="row mt-2">
      <div class="col-12 align-self-start">
        <mat-card>

          <mat-card-header class="" style="display:inherit">
            <mat-card-title>Your Children's Records</mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <div class="row text-left justify-content-md-center">
              <div class="col-10">
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel *ngFor="let record of records" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{record._childName}}
                      </mat-panel-title>
                      <mat-panel-description>
                        {{record._childGender}}
                        <mat-icon>face</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row text-left">
                      <div class="col-12">
                        <mat-list>
                          <mat-list-item *ngFor="let detail of record._vaccineDetails" (click)="showDetail(detail)">
                            <mat-icon mat-list-icon>assignment</mat-icon>
                            <p mat-line>{{detail._vaccineName }}</p>
                            <p mat-line class="text-secondary">{{detail._childAge }}</p>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>

          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Permissions">
    <div class="row justify-content-md-center mt-2 align-items-center">
      <div class="col-12 text-center">
        <mat-card>

          <mat-card-header class="text-center" style="display:inherit">
            <mat-card-title>Records Permissions</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="row text-left justify-content-md-center">
              <div class="col-10">
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel *ngFor="let record of records" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{record._childName}}
                      </mat-panel-title>
                      <mat-panel-description>
                        {{record._childGender}}
                        <mat-icon>face</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row text-left">
                      <div class="col-10">
                        <mat-form-field class="col-12">
                          <input matInput [(ngModel)]="hospital_permission" placeholder="Hospital Username"
                            value="">
                        </mat-form-field>
                      </div>
                      <div class="col-2 mt-3">
                        <button [disabled]="isLoading" mat-button color="primary" (click)="givePermission(record._id, hospital_permission, participants.Hospital)" >Submit</button>
                      </div>
                    </div>
                    <div class="row text-left">
                      <div class="col-10">
                        <mat-form-field class="col-12">
                          <input matInput [(ngModel)]="school_permission" placeholder="School Username"
                            value="">
                        </mat-form-field>
                      </div>
                      <div class="col-2 mt-3">
                        <button [disabled]="isLoading" mat-button color="primary" (click)="givePermission(record._id, school_permission, participants.School)" >Submit</button>
                      </div>
                    </div>
                    <div class="row text-left">
                      <div class="col-10">
                        <mat-form-field class="col-12">
                          <input matInput [(ngModel)]="insurance_permission" placeholder="Insurance Username"
                            value="">
                        </mat-form-field>
                      </div>
                      <div class="col-2 mt-3">
                        <button [disabled]="isLoading" mat-button color="primary" (click)="givePermission(record._id, insurance_permission, participants.Insurance)" >Submit</button>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>

          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>