<div class="row mt-2">
  <div class="col-12 align-self-start">
    <mat-card>

      <mat-card-header class="" style="display:inherit">
        <mat-card-title>Search for Vaccine Record</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <div class="row justify-content-md-center">
          <div class="col-10">
            <mat-form-field class="col-12" [hideRequiredMarker]="options.value.hideRequired"
              [floatLabel]="options.value.floatLabel">
              <input type="text" placeholder="Family's username" aria-label="Number" matInput [(ngModel)]="familyUsername"
                [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <div class="row justify-content-md-center mb-4">
          <div class="col-10">
            <button mat-stroked-button (click)="getRecordClick()">Search</button>
          </div>
        </div>

        <div *ngIf="true" class="row text-left justify-content-md-center">
          <div class="col-10">
            <p class="text-secondary mb-1 ml-1" *ngIf="isFamily">{{familyUsername}}</p>
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel *ngFor="let record of records" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      {{record._childName}}
                  </mat-panel-title>
                  <mat-panel-description>
                      {{record._childGender}}
                    <mat-icon>face</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel *ngFor="let detail of record._vaccineDetails" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          {{detail._vaccineName }}
                      </mat-panel-title>
                      <mat-panel-description>
                          {{detail._childAge }}
                        <mat-icon>assignment</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                      <input matInput placeholder="Child Weight" value="{{detail._childAge }}" disabled>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Child Height" value="{{detail._childAge }}" disabled>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Child Temperature" value="{{detail._childAge }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-12 pl-0">
                      <textarea matInput placeholder="Note" value="{{detail._childAge }}" [disabled]="doctorId != detail._doc"></textarea>
                    </mat-form-field>

                    <mat-action-row *ngIf="doctorId == detail._doc">
                      <button mat-button color="primary" (click)="openSnackBar()">Submit</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                </mat-accordion>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

      </mat-card-content>

    </mat-card>
  </div>
</div>