<h2 mat-dialog-title>Chickenpox    21/10/2018</h2>
<mat-dialog-content class="mat-typography">
  <div class="row ">
    <div class="col">
      <h5 class="mb-0 mt-3 text-secondary">Child Information</h5>
    </div>
  </div>
  <div class="row ">
    <div class="col-4">
      <p>Age: 1 year, 12 months, and 20 days</p>
    </div>
    <div class="col-2">
      <p>Temperature: 27 c&deg;</p>
    </div>
    <div class="col-2">
      <p>Weight: 20 kg</p>
    </div>
    <div class="col-2">
      <p>Height: 50 cm</p>
    </div>
  </div>

  <div class="row ">
    <div class="col">
      <h5 class="mb-0 mt-3 text-secondary">Doctor's note</h5>
    </div>
  </div>
  <div class="row ">
      <div class="col">
        <h4 class="mb-0">Khalid</h4>
      </div>
    </div>
  <div class="row ">
    <div class="col">
      <p>Achieve the maximum speed possible on the Web Platform today, and take it further, via Web
        Workers and server-side rendering. Angular puts you in control over scalability. Meet huge
        data requirements by building data models on RxJS, Immutable.js or another push-model.</p>
    </div>
  </div>

  <div class="row ">
    <div class="col">
      <h5 class="mb-0 mt-3 text-secondary">Physician signature</h5>
    </div>
  </div>
  <div class="row ">
      <div class="col">
        <h4 class="mb-0">Layla</h4>
      </div>
    </div>

  <div class="row ">
    <div class="col">
      <h5 class="mb-0 mt-3 text-secondary">Next visit</h5>
    </div>
  </div>
  <div class="row ">
      <div class="col">
        <p class="mb-0">19/03/2019</p>
      </div>
    </div>

  <div class="row ">
    <div class="col">
      <h5 class="mb-0 mt-3 text-secondary">Remaining vaccines</h5>
    </div>
  </div>
  <div class="row ">
    <div class="col">
        <p class="mb-0">Diphtheria,tetanus, and whooping cough</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>